.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px 0;
  .left-content {
    border: 1px solid seagreen;
    width: 70%;

    .title {
      font-size: 30px;
      font-weight: 700;
    }
    .content {
      .question {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .footer {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  }
  .right-content {
    border: 1px solid purple;
    width: 30%;
  }
}
