.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px 0;
  .left-content {
    border: 2px solid #ccc;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    .title {
      font-size: 30px;
      font-weight: 700;
    }
    .content {
      text-align: center;
      .question {
        font-size: 20px;
        font-weight: 500;
        padding: 20px;
      }
      .q-img {
        width: 100%;
        height: 200px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .answer {
        .a-child {
          text-align: left;
          padding-left: 50px;
        }
      }
    }
    .footer {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  }
  .right-content {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;

    .main-timer {
      border-bottom: 1px dashed #ccc;
      text-align: center;
      font-weight: 700;
      font-size: 20px;
      padding: 10px 0 20px;
    }

    .main-question {
      display: flex;
      gap: 15px;
      margin-top: 20px;
      flex-wrap: wrap;
      padding: 20px;

      .question {
        font-size: 20px;
        font-weight: 500;
        height: 50px;
        width: 50px;
        border: 1px solid #878787;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: red;
        }

        &.selected {
          background: #c6c6c6;
        }

        &.clicked {
          color: red;
        }
      }
    }
  }
}
