.login-container {
  .loader-icon {
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 10px;
    color: #00d4ff;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    from {
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
  }

  .header {
    text-align: right;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    button {
      margin: 20px 0;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      background: rgb(29, 29, 29);
      color: white;

      &:hover {
        background: black;
      }
    }
  }
  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
  }
  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    font-weight: 400;
  }
  .content-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    label {
      margin-bottom: 3px;
    }
    .back-homepage {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    button {
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 10px 0;
      margin: 15px 0;
      background: rgb(29, 29, 29);
      color: white;

      &:hover {
        background: black;
      }

      &:disabled {
        background: #ddd;
        color: #afafaf;
        cursor: no-drop;
      }
    }
    .forgot-pass {
      text-decoration: underline;
      cursor: pointer;
    }
    .form-group {
      position: relative;
      .icon {
        position: absolute;
        right: 3%;
        top: 38%;
        cursor: pointer;
        font-size: 24px;
      }
    }
  }
}
